@page
@model IdentityServerHost.Pages.Home.Index
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>

<body>
    <div class="containerRegistrationPage">
        <h1>Welcome to TryIt</h1>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="Button" asp-page="/Account/LogOut/Index">LogOut</a>
        }
        else
        {
            <a class="Button" asp-page="/Register/Index">Register</a>
            <a class="Button" asp-page="/Account/Login/Index">Login</a>
        }
    </div>
        
</body>
</html>

