@page
@model IdentityServerHost.Pages.Logout.LoggedOut
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/LogOut.css" asp-append-version="true" />
</head>
<body>
    <div class="containerRegistrationPage">
        <h1>
            <small>You are now logged out</small>
        </h1>

        @if (Model.View.PostLogoutRedirectUri != null)
        {
            <div>
                Click <a class="PostLogoutRedirectUri" href="@Model.View.PostLogoutRedirectUri">here</a> to return to the
                <span>@Model.View.ClientName</span> application.
            </div>
        }

        @if (Model.View.SignOutIframeUrl != null)
        {
            <iframe width="0" height="0" class="signout" src="@Model.View.SignOutIframeUrl"></iframe>
        }
    </div>
</body>
</html>

@section scripts
{
    @if (Model.View.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}

